@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



/* CSS HEX */
--raisin-black: #1a1423ff;
--english-violet: #3d314aff;
--eggplant: #684756ff;
--chamoisee: #96705bff;
--beaver: #ab8476ff;

/* CSS HSL */
--raisin-black: hsla(264, 27%, 11%, 1);
--english-violet: hsla(269, 20%, 24%, 1);
--eggplant: hsla(333, 19%, 34%, 1);
--chamoisee: hsla(21, 24%, 47%, 1);
--beaver: hsla(16, 24%, 57%, 1);

:root {
  font-family: "Gudea", sans-serif;
}

body {
  background-color: #96705B;
}
